.nums{
    display:flex;
    color: white;
    text-align: center;
    border: 2pt solid red;
    width: 100vw;
    height: 100vh;
    align-items: baseline;
}

.d1{
    background-color: green;
    height:10px;
    width:10px;
    font-size: 5pt;
}
.d2{
    background-color: rgb(65, 125, 136);
    height:15px;
    width:15px;
    font-size: 8pt;
}
.d3{
    background-color: rgb(151, 15, 163);
    height:30px;
    width:30px;
    font-size: 17pt;
}
.d4{
    background-color: rgb(22, 4, 88);
    height:40px;
    width:40px;
    font-size: 20pt;
}
.d5{
    background-color: rgb(197, 179, 20);
    height:5px;
    width:5px;
}
.d6{
    background-color: rgb(216, 154, 20); 
    height:20px;
    width:20px;
}
.d7{
    background-color: rgb(223, 19, 53);
    height:20px;
    width:20px;
}
.d8{
    background-color: rgb(115, 122, 115);
    height:20px;
    width:20px;    
}
.d9{
    background-color: rgb(61, 223, 61);
    height:20px;
    width:20px;
}
.d10{
    background-color: rgb(11, 73, 11);
    height:18px;
    width:18px;
}