.nums{
    display:flex;
    color: white;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    height:900px;
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10{
    width: 50%;
    height: 200px;
    padding:5px;
}

.d1{
    background-color: green;
    flex-grow: 0.5;
}
.d2{
    background-color: rgb(65, 125, 136);
    flex-grow: 0.5;
}
.d3{
    background-color: rgb(151, 15, 163);
}
.d4{
    background-color: rgb(22, 4, 88);
    height:100px;
}
.d5{
    background-color: rgb(197, 179, 20);
    flex-grow: 1;
}
.d6{
    background-color: rgb(216, 154, 20); 
    flex-grow: 1;
}