.nums{
    display:flex;
    height:700px;
    width:400px;
    color: white;
    text-align: center;
    
}

.d1{
    background-color: green;
    /*width:40px;*/
    flex:1 1;
}
.d2{
    background-color: rgb(65, 125, 136);
    flex:1 1;
}
.d3{
    background-color: rgb(151, 15, 163);
    flex:1 1 0;
}
.d4{
    background-color: rgb(22, 4, 88);
    flex:1 1 0;
}
.d5{
    background-color: rgb(197, 179, 20);
    flex:1 1 0;
}
.d6{
    background-color: rgb(216, 154, 20); 
    flex:1 1 0;
}
.d7{
    background-color: rgb(223, 19, 53);
    flex:1 1 0;
}
.d8{
    background-color: rgb(115, 122, 115);    
    flex:1 1 0;
}
.d9{
    background-color: rgb(61, 223, 61);
    flex:1 1 0;
}
.d10{
    background-color: rgb(11, 73, 11);
    flex:1 1 0;
}