@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
html, body {
	font-family: 'Montserrat', sans-serif;
	color: wheat;
}

h1 {
	font-size: 5rem;
	font-weight: 400;
	padding: 10px 0;
}

p {
	font-size: 1rem;
	margin: 20px 0;
	line-height: 1.7em;
}

/* Utility Classes */
.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

/* Grid */
#grid {
	padding: 40px 0;
	height: 100vh;
}

.grid-wrapper {
	padding:10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
	"texto texto bolita1 bolita2"
	"texto texto bolita3 bolita4"
	"bolita5 bolita6 bolita7 bolita8";
}


.box img {
	width: 100%;
}

.box-1,
.box-4,
.box-7,
.box-9 {
	background: #1a2937;
}

.box-2,
.box-6 {
	background: #eda640;
}

.box-3,
.box-5,
.box-8 {
	background: #bfcdd9;
}

.box-1 {
	grid-area: texto;
	margin:10px;
	padding:40px;
	border-radius: 20pt;
	-webkit-border-radius: 20pt;
	-moz-border-radius: 20pt;
	-ms-border-radius: 20pt;
	-o-border-radius: 20pt;
}

.box-2 {
	grid-area: bolita1;
}

.box-3 {
	grid-area: bolita2;
}

.box-4 {
	grid-area: bolita3;
}

.box-5 {
	grid-area: bolita4;
}

.box-6 {
	grid-area: bolita5;
}
.box-7 {
	grid-area: bolita6;
}
.box-8 {
	grid-area: bolita7;
}
.box-9 {
	grid-area: bolita8;
}

.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9 {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	margin:10px;
	padding: 40px;;
}


@media screen and (max-width: 800px) {
	.grid-wrapper{
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	
}