ul{
    display:flex;
    list-style: none;
    padding: 0;
    height: max-content;
}

li {
    padding: 15px;
    margin:1pt; /*en vez del border se puede asi*/
    background-color: rgb(80, 183, 224);
    text-align: left; 
    width:33%;
}