/*EJERCICIO 2*/
ul{
    display:flex;
    list-style: none;
    flex-direction: column;
    width: max-content; /*para que no sea el 100%*/
    padding: 5px; 
}

li{
    background-color: rgb(80, 183, 224);
    padding: 5px;
    margin:1pt;
}

a{
    text-decoration: none;
    color:black;
}