.a {
  float: left;
  padding: 10px;
}
.a div{
  height: 100px;
  width: 100px; 
  background-color:red;
}


.b {
  float: right; /*Poner left para pegarlos con el rojo*/
  padding: 10px;
}
.b div{
  height: 100px;
  width: 100px; 
  background-color: blue;
  
}

.c {
  float: left;
  padding: 10px;
}
.c div{
  height: 100px;
  width: 100px; 
  background-color: green;
}


.clear{clear: both;}