.izq {
  float: left;
  padding: 10px;
}

.dch {
  float: right;
  padding: 10px;
}

header {
    position: fixed;
    width: 100%;
    height: 15%; 
    background-color: #F7F9FA;
}

.socials {
    padding-top: 16px;
}


footer{
    display:block;
    position:absolute;
    bottom: 0;
    width:100%;
    height: 5%;
    left: 0;
    background-color: #F7F9FA;
    
}

main{
    position:fixed;
    top:15%;
    height: 70%;
    padding: 10px;
}

.sect1{
    width:100%;
}

.fotoizq{
    float:left;
    width: 40%;
}
.textodch{
    float:right;
    width:60%;
    background-color: green;
}
.racoon1{
    width: 100%;
}



.clear{clear: both;}