p { background-color: grey; } /* Selector etiqueta */ 
.clase { color: red; } /* Selector clase */
#ident { color: green; } /* Selector Identificador */
* { font-style: italic; } /* Selector universal */ 
p a { background-color: orange; } /* Selector descendiente (pueden ser hijos de hijos) */
h3, small { color: blue;} /* Combinación de selectores */ 
div>span { color: pink; } /* Selector de hijos */ 
span+small { background-color: yellow; }  /* Selector adyacente*/
h1, h2, h3 { font-family: 'Courier New', Courier, monospace; }
div :first-child {color: green; font-weight: bold;}
