.nums{
    display:flex;
    flex-direction:column-reverse;
    height:700px;
    width:400px;
    color: white;
    text-align: center;
}


.d1{
    background-color: green;
    width:40px;
}
.d2{
    background-color: rgb(65, 125, 136);
    width:40px;
}
.d3{
    background-color: rgb(151, 15, 163);
    width:40px;
}
.d4{
    background-color: rgb(22, 4, 88);
    width:40px;
}
.d5{
    background-color: rgb(197, 179, 20);
    width:40px;
}
.d6{
    background-color: rgb(216, 154, 20); 
    width:40px;
}
.d7{
    background-color: rgb(223, 19, 53);
    width:40px;
}
.d8{
    background-color: rgb(115, 122, 115);    
    width:40px;
}
.d9{
    background-color: rgb(61, 223, 61);
    width:40px;
}
.d10{
    background-color: rgb(11, 73, 11);
    width:40px;
}