
.nums{
    display:flex;
    color: white;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 1000px;
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10{
    width: 100px;
    height:50px;
}

.d1{
    background-color: green;
}
.d2{
    background-color: rgb(65, 125, 136);
    align-self: stretch;
}
.d3{
    background-color: rgb(151, 15, 163);
}
.d4{
    background-color: rgb(22, 4, 88);
}
.d5{
    background-color: rgb(197, 179, 20);
}
.d6{
    background-color: rgb(216, 154, 20); 
    align-self:center;
}
.d7{
    background-color: rgb(223, 19, 53);
}
.d8{
    background-color: rgb(115, 122, 115);    
}
.d9{
    background-color: rgb(61, 223, 61);
    align-self: flex-end;
}
.d10{
    background-color: rgb(11, 73, 11);
}