.nums{
    display:flex;
    color: white;
    text-align: center;
    
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10{
    width: 10%;
    height: 30px;
}
.d1{
    background-color: green;
    order: 2;
}
.d2{
    background-color: rgb(65, 125, 136);
    order: 3;
}
.d3{
    background-color: rgb(151, 15, 163);
    order: 4;
}
.d4{
    background-color: rgb(22, 4, 88);
    order: 5;
}
.d5{
    background-color: rgb(197, 179, 20);
    order: 1;
}
.d6{
    background-color: rgb(216, 154, 20); 
    order: 11;
}
.d7{
    background-color: rgb(223, 19, 53);
    order: 6;
}
.d8{
    background-color: rgb(115, 122, 115);  
    order: 8;  
}
.d9{
    background-color: rgb(61, 223, 61);
    order: 9;
}
.d10{
    background-color: rgb(11, 73, 11);
    order: 10;
}